# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

{% if changelog_stat.stat.exists %}
{{ changelog_content.content | b64decode }}
{% endif %}

{% if new_entry is defined %}
{{ new_entry }}
{% endif %} 