# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

{% if new_entry is defined %}
{{ new_entry }}

{% endif %}
{% if changelog_stat.stat.exists %}
{{ changelog_content.content | b64decode | regex_replace('(?s)^# Changelog.*?Semantic Versioning.*?\n\n', '') | regex_replace('# BEGIN ANSIBLE MANAGED BLOCK.*?\n', '') | regex_replace('# END ANSIBLE MANAGED BLOCK.*?\n', '') }}
{% endif %} 