## [{{ global.release_version }}] - {{ global.release_date }}

{% if global.dependencies | length > 0 or global.build_plugins | length > 0 or global.properties | length > 0 %}
### Summary
{% if global.dependencies | length > 0 %}
- Updated {{ global.dependencies | length }} dependencies
{% endif %}
{% if global.build_plugins | length > 0 %}
- Updated {{ global.build_plugins | length }} build plugins
{% endif %}
{% if global.properties | length > 0 %}
- Updated {{ global.properties | length }} properties
{% endif %}
{% endif %}

{% if global.dependencies | length > 0 %}
### Dependencies
{% for dep in global.dependencies %}
- Updated `{{ dep.artifactId }}` to version `{{ dep.version }}`
{% endfor %}
{% endif %}

{% if global.build_plugins | length > 0 %}
### Build Plugins
{% for plugin in global.build_plugins %}
- Updated `{{ plugin.artifactId }}` to version `{{ plugin.version }}`
{% endfor %}
{% endif %}

{% if global.properties | length > 0 %}
### Properties
{% for key, value in global.properties.items() %}
- Updated `{{ key }}` to `{{ value }}`
{% endfor %}
{% endif %}

[{{ global.release_version }}]: {{ ci_project_url }}/-/compare/v{{ global.release_version }}...HEAD 